/** Rogelio Noris **/

header{background:url(style/bg.jpg) repeat-x;height: 263px;}
.header-bg{background:url(style/bg-header2.jpg) no-repeat top center;height: 263px;}

.logo{background:url(style/logo2.jpg); width: 153px;height: 217px;display: block;text-indent: -9999px;}

.titulo-1{font-size: 25px;color: white;text-align: center;margin-top: 30px;}
.titulo-2{font-size: 35px;color: white;text-align: center;}
.titulo-3{font-size: 20px;color: white;text-align: center;display: block;}
.fecha{display: block;font-size: 18px;color: white;text-align: center;margin-top: 20px;}
.login-wrapper{margin-top: 50px;}
.login-wrapper .panel{width: 500px;margin: 0 auto;}

.login{width: 400px;margin: 0 auto;margin-top: 40px;}
.contenido{margin-top: 20px;}
.fullwidth{width: 100%;margin: 0;max-width: initial;}

.no-margin{margin: 0px;}
.no-padding{padding: 0px;}

.form-custom .columns{padding: 0;}

.tabla-acciones{text-align: center;}
.tabla-acciones a{font-size:25px;}


.dataTables_wrapper tbody tr:hover{background-color:#90C9E2;}


@media only screen and (max-width: 40em) {
    .logo{background:url(style/logo2.jpg); width: 80px;height: 113px;display: block;text-indent: -9999px;background-size: cover;margin-top: 50px;}
    .titulo-1{font-size: 15px;}
    .titulo-2{font-size: 20px;}
    .titulo-3{font-size: 10px;}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .titulo-1{font-size: 20px;}
    .titulo-2{font-size: 30px;}
    .titulo-3{font-size: 15px;}
}